/*--------------------КАТАЛОГ-----------------------*/
.catalog-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
    justify-items: center;
    padding: 20px 0;
  }
  
  .catalog-item {
    text-align: center;
  }
  
  .catalog-image {
    width: 100%;
    max-width: 150px;
    transition: transform 0.3s ease;
  }
  
  .catalog-item:hover .catalog-image {
    transform: scale(1.05);
  }
  
  .catalog-title {
    margin-top: 10px;
    font-size: 14px;
    color: #000;
  }




/*--------------------АДАПТИВ-----------------------*/

  /* Адаптивность для ширины 428px и меньше */
@media (max-width: 428px) {
  .catalog-grid {
    grid-template-columns: repeat(2, 1fr); /* Одна колонка на мобильных устройствах */
    gap: 20px;
  }

  .catalog-title {
    font-size: 11px; /* Немного уменьшен для мобильных */
  }

  .catalog-image {
    max-height: 128px; /* Уменьшен для мобильных экранов */
  }

  .catalog-item-title {
    font-size: 11px; /* Уменьшен для мобильных */
  }

}