.background-img-design {
    background-image: url('/public/backgroundDesign.png'); 
    background-image: 1921px 1026px;
    background-repeat: no-repeat;
  }

  .background-img-design2 {
    background-image: url('/public/backgroundDesignWhite.png'); 
    background-repeat: no-repeat;
    background-position: center center;
  }



  .cards-container-design {
    display: flex;
    gap: 20px;
  }
  
  .card-design img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }
  
  .card-design .title-section-main {
    padding: 30px;
    text-align: center;
    background-color: #F2F2F2;
    transform: translateY(-60px);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }











  .info-cards-container-design {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 145px; 
    max-width: 1480px;
    margin: 0 auto; 
  }
  
  .info-card-item-design {
    background-color: rgba(255, 255, 255, 0.9); 
    border-radius: 15px;
    width: 150px; 
    height: 200px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  
  .icon-wrapper-design {
    margin-bottom: 15px;
  }
  
  .card-icon-design {
    width: 40px;
    height: 40px;
  }
  
  .info-card-item-design h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0;
    color: #000;
    text-transform: uppercase;
  }
  
  .info-card-item-design p {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #666;
    margin: 0;
  }
  




  /* Адаптивность */





  @media (max-width: 428px) {
    .cards-container-design {
      flex-direction: column;
      gap: 1px; 
    }
  
    .card-design {
      width: 100%;
    }
  
    .card-design img {
      border-radius: 15px;
    }
  
    .card-design .title-section-main {
      padding: 20px; 
      font-size: 18px; 
      transform: translateY(-40px);
      border-bottom-left-radius: 15px; 
      border-bottom-right-radius: 15px;
    }
  }


  .new-first-design-text {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 40px; 
    padding: 40px 0; 
  }
  
  .first-design-text {
    background-color: rgba(255, 255, 255, 0.5); 
    border-radius: 15px; 
    padding: 20px; 
    text-align: center; 
    max-width: 600px; 
    transform: translateY(-15px);
  }
  
  .first-design-text .title-section-main {
    margin-bottom: 10px; 
  }
  
  .first-design-text p:nth-child(2) {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #666;
    line-height: 1.5;
    margin: 0;
    white-space: pre-wrap; 
  }






  .main-maintext-design {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 70px;
    margin-bottom: 105px;
  }
  
  
  @media (max-width: 428px) {
    .new-first-design-text {
      padding: 20px 0; 
    }
  
    .first-design-text {
      max-width: 90%; 
      padding: 15px;
    }
  
    .first-design-text .title-section-main {
      font-size: 18px; 
    }
  
    .first-design-text p:nth-child(2) {
      font-size: 12px; 
    }


    .main-maintext-design {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        font-size: 40px;
        margin-bottom: 105px;
      }

      .background-img-design {
        height: 920px;
      }

      .info-cards-container-design {
        transform: translateX(10px);
        gap: 55px;
      }

      .info-card-item-design {
        padding-left: 40px;
        padding-right: 40px;
      }
  }












  