.first-room-section{
}









.room-gallery-room {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    /* padding: 10px 0; */
    width: 100%;
  }
  
  .room-gallery-item-room {
    min-width: 200px;
    flex-shrink: 0;
    text-align: center;
    border-radius: 0px;
    overflow: hidden;
  }
  
  .room-gallery-image-room {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .room-gallery-caption-room {
    font-size: 14px;
    margin: 5px 0;
    color: #333;
  }
  
  /* Скрыть скроллбар для Webkit (Chrome, Safari) */
  .room-gallery-room::-webkit-scrollbar-room {
    height: 8px;
  }
  
  .room-gallery-room::-webkit-scrollbar-track-room {
    background: #f1f1f1;
  }
  
  .room-gallery-room::-webkit-scrollbar-thumb-room {
    background: #888;
    border-radius: 4px;
  }
  
  /* Адаптивность для мобильных устройств (например, до 428px) */
  @media (max-width: 428px) {
    .room-gallery-item-room {
      min-width: 150px;
    }
  
    .room-gallery-caption-room {
      font-size: 12px;
    }
  }

  













  .gallery-grid-room {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Две колонки одинаковой ширины */
    grid-template-rows: auto auto; /* Две строки, высота определяется содержимым */
    gap: 20px; /* Расстояние между элементами */
    padding: 0px;
  }
  
  .six-sections-room-photo1 {
    grid-column: 1;
    grid-row: 1;
  }
  
  .six-sections-room-photo2 {
    grid-column: 2;
    grid-row: 1;
  }
  
  .six-sections-room-photo3 {
    grid-column: 1;
    grid-row: 2;
  }
  
  .six-sections-room-photo4 {
    grid-column: 2;
    grid-row: 2;
    transform: translateY(-202px);
  }





  .seven-sections-room-photo1 {
    grid-column: 1;
    grid-row: 1;
  }
  
  .seven-sections-room-photo2 {
    grid-column: 2;
    grid-row: 1;
  }
  
  .seven-sections-room-photo3 {
    grid-column: 1;
    grid-row: 2;
  }
  
  .seven-sections-room-photo4 {
    grid-column: 2;
    grid-row: 2;
    transform: translateX(-524px);
  }



  .gallery-grid-room2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Две колонки одинаковой ширины */
    grid-template-rows: auto auto; /* Две строки, высота определяется содержимым */
    gap: 22px; /* Расстояние между элементами */
    padding: 0px;
  }

  
  
  
  /* Адаптивность для мобильных устройств (например, до 428px) */
  @media (max-width: 428px) {
    .gallery-grid-room {
      grid-template-columns: 1fr; /* Одна колонка на мобильных */
      grid-template-rows: auto auto auto auto; /* Четыре строки */
      gap: 15px;
    }
  
    .six-sections-room-photo1 {
      grid-column: 1;
      grid-row: 1;
    }
  
    .six-sections-room-photo2 {
      grid-column: 1;
      grid-row: 2;
    }
  
    .six-sections-room-photo3 {
      grid-column: 1;
      grid-row: 3;
    }
  
    .six-sections-room-photo4 {
      grid-column: 1;
      grid-row: 4;
      margin-top: -70px;
    }
  
    img {
      max-height: 200px;
    }
  }
